h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Ubuntu Condensed', "Arial", sans-serif;
    color: $black;
    font-weight: bold;
}

h1, .h1 {
    margin-bottom: $spacing/2;

    font-size: 30px;
    line-height: 38px;
}

h2, .h2 {
    font-size: 26px;
    line-height: 32px;
}

h3, .h3 {
    font-size: 20px;
    line-height: 28px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-size: 18px;
    line-height: 26px;
}
