.map {
    width: 100%;
    height: 50%;
    
    position: fixed !important;
    top: 0;
    left: 0;
    
    @media screen and (min-width: 750px) {
        height: 100%;
        width: calc(100% - 350px);
        left: 350px;
    }
}