.sidebar {
    width: 25%;
    padding: $spacing;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    background: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
}

.sidebar__heading {
    margin-bottom: $spacing;
}