.sidebar {
    width: 100%;
    height: 50%;
    padding: $spacing;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    background: #fff;
    
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    
    @media screen and (min-width: 750px) {
        width: 350px;
        height: 100%;
        
        top: 0;
    }
}

.sidebar__heading {
    margin-bottom: $spacing;
}